@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-image: url('D:/CS/Web Development/Projects/Intern Tasks/Chat Application - Task 9/frontend/public/HomePageBg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
}